* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%; 
    margin: 0;
}

body {
    min-height: 100vh;
    margin-bottom: -12vh;
}
 /* Header con 3 box */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #FF6900;
    color: white;
    min-height: 50px;
    box-shadow: -1px 7px 5px -2px rgba(0,0,0,0.75);
    z-index: 1000;
}

.boxleft, .middlebox, .boxright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxleft, .boxright {
    width: 15%; 
}

.middlebox {
    width: 50%; 
}

.middlebox > img {
    height: auto;
    width: auto;
    max-width: 100%; 
    max-height: 30px;
}

.margins {
    margin: 0 10px;
}
 /* Inizio main con 3 colonne */
main {
    padding-top: 120px; 
    flex-grow: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    width: 80%; 
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    width: 30%; /
    display:flex;
    flex-direction: column;
    margin-top: 30px;
}

.image-container {
    position: relative;
    width: 95%; 
    height: 55vh; 
}

.fixed-image, .hover-image {
    width: 100%; 
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease; 
    height: 100%;
}

.hover-image {
    opacity: 0; 
    z-index: 2; 
}

.image-container:hover .hover-image {
    opacity: 1; 
}

/* Cuoricino */
.cuoricino{
    position: absolute;
    font-size: 30px;
    top: 5px;
    right: 0px;
    background-color: white;
    padding: 5px;
    line-height: 15px;
}

.image-container:hover .cuoricino {
    color: red;
}

/* riquadro rosso e verde */
.riquadro{
    position: absolute;
    font-size: 20px;
    padding: 2px 5px 2px 5px ;
    color: white;
    bottom: 20px;
}

.rosso{
    background-color: red;
    left: 0px;
}

.verde{
    background-color: green;
    left: 55px;
}

/* Testo */

.sottotesto{
    font-size: 20px;
}

.bold{
    font-weight: bold;
}

.testorosso{
    color: red;
    font-weight: bold;
}

.testotagliato{
    text-decoration: line-through;
}

.content-wrapper {
    padding-bottom: 12vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    min-height: calc(100vh - 12vh); 
    width: 100%; 
}

/* Footer */

footer{
    height: 12vh;
    background-color: #23272A;
    color: white;
}

.minibox{
    display: flex;
    height: 100%;
    width: 90%;
    align-items: center; 
    justify-content: center;  
    margin-left: 100px;
}

.box1, .box2{
    width: 40%;
}

.box2{
  display: flex;
  align-items: flex-end;  
  flex-direction: column;
}   

div.box1>span{
    margin-right: 5px;
}

.whiteline{
    background-color: white;
    height: 2px;
}



